{% extends 'base_admin.html' %}
{% block title %}
    Dashboard
{% endblock title %}
{% block adminu %}
    {{name}}
{% endblock adminu %}
{% block admin1 %}
    {{name}}
{% endblock admin1 %}
{% block admin2 %}
    {{name}}
{% endblock admin2 %}
{% block adminmail %}
    {{mail}}
{% endblock adminmail %}
{% block content %}
<div style="height: 400px;width: 400px;">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.4940852638156!2d78.37956717341092!3d17.436050301404848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93e2fa209b51%3A0xea76d2be7152679!2sPioneer%20Towers!5e0!3m2!1sen!2sin!4v1712819587001!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <!-- <iframe src="https://www.google.com/maps/embed?pb={{location}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    <iframe src="{{location}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock content %}