{% extends 'base_admin.html' %}
{% block title %}
    Doctors List
{% endblock title %}
{% block adminu %}
    {{name}}
{% endblock adminu %}
{% block admin1 %}
    {{name}}
{% endblock admin1 %}
{% block admin2 %}
    {{name}}
{% endblock admin2 %}
{% block adminmail %}
    {{mail}}
{% endblock adminmail %}
{% block content %}	
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header ">
					<h4 class="card-title">All Registered Doctors</h4>
					<!-- <p class="card-category">Users Table</p> -->
					<a href="/add_doctor"><button class="btn btn-outline-success btn-sm mx-1">Add Doctor</button></a>
				</div>
				<div class="card-body">
					<table class="table table-head-bg-success table-striped table-hover">
						<thead>
							<tr>			
								<th scope="col">SrNo</th>					
								<th scope="col">Name</th>
								<th scope="col">Email ID</th>
								<th scope="col">Mobile No</th>
								<th scope="col">Specialist</th>
								<th scope="col">City</th>
								<th scope="col">Address</th>
								<th scope="col">Location</th>
								<th scope="col" colspan="2">Action</th>								
							</tr>
						</thead>
						<tbody>
							{% if data|length == 0 %}
			
								No doctors added
	
							{% else %}
																							
								{% for d in data %}
									<tr>
										<th scope="row">{{loop.index}}</th>
										<td>{{d.name}}</td>
										<td>{{d.email}}</td>
										<td>{{d.mobile_no}}</td>
										<td>{{d.specialist}}</td>
										<td>{{d.city}}</td>
										<td>{{d.address}}</td>										
										<td>                            
											<a href="/adminmap/{{d.doctor_id}}"><button type="button" class="btn btn-outline-success btn-sm mx-1">View in Map</button></a>											
										</td>
										<td>
											<a href="/updatedoctor/{{d.doctor_id}}"><img src="/static/images/edit.jpg" style="height: 20px;width: 20px;"></a>
											<a href="/deletedoctor/{{d.doctor_id}}"><img src="/static/images/delete.png" style="height: 20px;width: 20px;"></a>
										</td>
									</tr> 
								{% endfor %}  
							{% endif %}                                       
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}