{% extends 'base_admin.html' %}
{% block title %}
    Suggestions
{% endblock title %}
{% block adminu %}
    {{name}}
{% endblock adminu %}
{% block admin1 %}
    {{name}}
{% endblock admin1 %}
{% block admin2 %}
    {{name}}
{% endblock admin2 %}
{% block adminmail %}
    {{mail}}
{% endblock adminmail %}
{% block content %}
<div class="col-md-12">	

    <!-- Yoga -->
	<div class="card">
        <div class="card-header ">
            <h4 class="card-title">Yoga</h4>
            <p class="card-category">{{y}}</p>
        </div>
        <div class="card-body">
            <form action="/update_yoga/{{data.id}}" method="POST" style="font-size: large;">
                <label>Dosha Type</label>
				<select name="dosha_type">
					<option value="Kapha">Kapha</option>
					<option value="Pitta">Pitta</option>
					<option value="Vata">Vata</option>
				</select><br><br>

                <label>Yoga Heading</label>
                <input type="text" name="yoga_heading" value="{{data.yoga_heading}}" placeholder="Enter heading">
                <br> <br>
				
				<label>Yoga Description</label>
                <textarea class="form-control" name="yoga_description" value="{{data.yoga_description}}" rows="2" placeholder="Enter description" required></textarea>
                <br> 
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>	
{% endblock content %}



